<%= form_for @doctor,url: { action: "create"}, html: {class: "doctor"} do|d| %>
  <%= d.submit :craetenewdoctor %>
<% end %>  

<html>
<head>
	<title>alluser</title>
	<style>
  table{  
            border: 10px solid blue;         
  	       	height:400px;
  	  	    width:120px;
  	  	    margin-left: 420px
  	            }  
  	         th{
  	         	text-align: left;
  	            }
  	    </style>        
</head>
<body>
	<table>
		<caption>doctors</caption>
		<tr>
			<th>doctor_name</th>
		</tr>
		<%   @doctor1.each do |i| %>
       <tr>
         <td><%= i.name%></td>
       </tr>   
     <% end %>  
    </table> <br><br>  
    
    </body>
</html>    	






