<h1> Home Page </h1>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <%= link_to "doctor", '/index' %> </br>
      <%= link_to "patient", '/patient_index' %> </br>
      <%= link_to "appointment", '/appointment_index' %>
    </div>
  </div>
</div>   	
