<%= form_for @appointment,url: { action: "create_appointment"}, html: {class: "appointment"} do|d| %>
  <%= d.submit :createnewdoctor %>
<% end %> </br>
</br>
</br> 

<html>
  <head>
    <title>alluser</title>
    <style>
      table{  
              border: 0px solid blue;         
              height:400px;
              width:520px;
              margin-left: 50px
           }  
      th{
          text-align: left;
        }
    </style>        
  </head>
  <body>
    <table>
      <caption>appointment</caption>
      <tr>
        <th>viewallappointments</th>
        
      </tr>
      <% @appointment1.each do |i| %>
        <tr>
          <td><%= i.appointment_date%></td> 
        </tr>   
      <% end %>  
    </table>  
  </body>