<h1> for html practice </h1>
<html>
  <head>
    <style>
      form { border: 1px  solid blue;
             margin-left: 520px;
             width: 300px;}
    </style>
  </head>
  <body>
    <a href = "http://guides.rubyonrails.org/active_record_validations.html"> valiadtion </a>
     <p>unordered_list</p>
     <ul style = "list-style-type:circle">
       <li>Tea</li>
       <li>Milk</li>
       <li>coffee</li>
     </ul>
     <iframe src = "http://www.w3schools.com/html/html_iframe.asp" width = "400" height = "300"></iframe>
     <form  action = "create", methot = "post">
       firstname:<br><input type = "text" name = "firstname" > </br>
       lastname:<br> <input type = "text" name = "lastname"> </br>
       email: <br><input type = "text"  name = "email" > </br>
       password: <br><input type = "password"  name = "pwd"><br>
       confirm_password: <br><input type = "password"  name="cpwd"><br>
       gender:<br>
       <input type = "radio" name = "gender"  value = "male" > male<br>
       <input type = "radio" name = "gender"  value = "female" > female<br>
       age: <br>
       <input type = "checkbox" name = "age" value = "child">i am a child<br>
       <input type = "checkbox" name = "age" value = "adult">i am a adult<br>
       <input type = "checkbox" name = "age" value = "old">i am greater than 45<br>
       list of cars: 
       <select name = "cars">
         <option value = "volvo">Volvo</option>
         <option value = "saab">Saab</option>
         <option value = "fiat">Fiat</option>
         <option value = "audi">Audi</option>
       </select><br>
       description: <br><textarea name = "message" rows = "10" cols = "30">this is for </textarea><br>
       <button type = "button" onclick = "alert('Hello user!')">Click Me!</button><br>
       <input type = "submit"  value = "submit" ><br>
     </form>  

   </body>
</html>